body {
  font-family: "Sniglet";
  color: white;
  font-size: 20px;
  background-image: url(background.jpg);
  background-size: cover;
}

img {
  height: 250px;
  width: 300px;
  display: flex;
}


.flex-container {
  display: flex;
  /* flex-direction: row;
  flex-wrap: wrap; */
  align-items: center;
  text-align: center;
  justify-content: center; 
}
